#wrapper{
    width: 1440px;
    display: flex;
}

#layout-first{
    width: 255px;
    height: 1234px;
    background-color: #363740;
    color: grey;
}

#layout-second{
    width: 1185px;
    height: 1234px;
    /* background-color: #F7F8FC; */
}

.layout-img{
    margin: 25px;
}

a{
    text-decoration: none;
    color: grey;
}

#nav{
    margin-top: 35px;
}

.nav1{
    height: 121.6px;
    font-weight: bold;
}

.nav2{
    height: 60.8px;
}

.nav1 svg{
    margin-right: 10px;
}

.nav2 svg{
    margin-right: 20px;
}