#wrapper{
    width: 1440px;
    display: flex;
}

#layout-first{
    width: 255px;
    height: 1234px;
    background-color: #363740;
    color: grey;
}

#layout-second{
    width: 1185px;
    height: 1234px;
    /* background-color: #F7F8FC; */
}

.layout-img{
    margin: 25px;
}

a{
    text-decoration: none;
    color: grey;
}

#nav{
    margin-top: 35px;
}

.nav1{
    height: 121.6px;
    font-weight: bold;
}

.nav2{
    height: 60.8px;
}

.nav1 svg{
    margin-right: 10px;
}

.nav2 svg{
    margin-right: 20px;
}


/* mobile */
@media (max-width: 932px){
    #wrapper{
        width: 100%;
        height: auto;
    }  
}

/* 모바일 화면에서 메뉴를 드롭다운 형태로 보여줌 */
@media screen and (max-width: 768px) {
    .menu {
      display: none;
    }
    .dropdown-menu {
      display: block;
    }
  }
  
  /* 데스크탑 화면에서 메뉴를 수평으로 나열하여 보여줌 */
  @media screen and (min-width: 769px) {
    .menu {
      display: block;
    }
    .dropdown-menu {
      display: none;
    }
  }
  